@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@layer base {
    html {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-rendering: optimizeLegibility;
    }
  }

.descripcion-producto strong {
    @apply text-lg leading-7;
}



.article-content p {
    margin-bottom: 1.5rem;
}

